/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
      margin: 0 !important;
      padding: 0 !important;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    /*max-width: 100%; <- broke leaflet custom panes*/
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  html {
    isolation: isolate;
  }

/* app themes */
:root {
    --text-color: coral;
    --background-color: black;
    --highlight-color: white;
    --title-bar-height: 30px;
}
/* app styles */
html {
    font-family:'Courier New', Courier, monospace;
    color: var(--text-color);
    background-color: var(--background-color);
}
body {
    display: flex;
}

p { margin-bottom: 1rem; }

a { color: var(--highlight-color); }

#map-wrapper {
    width: 100%;
    height: calc(100% - var(--title-bar-height));
    position: fixed;
    top: var(--title-bar-height);
}
#map {
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-color: var(--background-color);
}
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.titlebar h1 {
    float:left;
    display: block;
    font-size: 10pt;
    padding: 6px 5px;
}
.titlebar-drag {
    flex: auto;
}
.toolbar-button {
    color: var(--text-color);
    border: none;
    margin: 2px 0px 2px 2px;
    background-color: var(--background-color);
    border-radius: 4px;
    font-weight: bold;
    padding: 0;
    font-size: 10pt;
    display: flex;
}
.toolbar-button.selected {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--highlight-color);
}
.toolbar-button svg {
    display: inline-block;
    margin: 1px;
}
.toolbar-button > span {
    display: inline-block;
    padding: 4px 0;
    margin: 0 5px 0 0;
}
.button-title-full span, .button-title-short span {
    text-decoration: underline;
}
.toolbar-button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}
.toolbar-spacer {
    display: flex;
    flex-basis: 8px;
}
.toolbar-input {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    font-size: 10pt;
}
.titlebar {
    height: var(--title-bar-height);
    width: 100%;
    background: var(--text-color);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: var(--background-color);
}
.titlebar, .titlebar * {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
.titlebar h1 {
    cursor: default;
    display: inline-flex;
}
.project-name {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--title-bar-height);
    height: var(--title-bar-height);
    background: transparent;
    padding: 0;
    border: none;
}
.titlebar-button:hover {
    color: var(--highlight-color);
}
.draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--highlight-color);
    background-color: var(--background-color);
    border-radius: 25px;
}
.listener {
    background-color: var(--text-color);
}


/* leaflet */
.leaflet-touch {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-top: none;
}
.leaflet-bar {
    border-radius: 4px;
    background: rgba(0,0,0,0.5);
    display: flex;
    width: 12rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none !important;
    padding: 2px;
}
.leaflet-bar a{
    background-color: var(--text-color);
    color: var(--background-color);
    user-select: none;
    -webkit-user-select: none;
    border: none;
    flex: 1 !important;
    height: 20px !important;
    width:unset !important;
    border-radius: 2px;
    font-size: 18px !important;
    line-height: 18px !important;
    cursor: default;
}
.leaflet-bar a:hover{
    background-color: var(--highlight-color);
}
.leaflet-bar a:first-child {
    margin-right: 2px;
}
/* not showing real world maps */
.leaflet-control-attribution {
    display: none;
}
/* classes for leaflet markers: leaflet-marker-icon leaflet-div-icon leaflet-vertex-icon leaflet-zoom-animated leaflet-interactive leaflet-marker-draggable */
.leaflet-vertex-icon {
    background: var(--text-color);
    border: none;
    border-radius: 9999px;
}


/* help area */
#help {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    font-size: 0.7rem;
    font-weight: bold;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
}
#help.activated #help-text { 
    display:block; 
}
#help.activated #help-toggle {
    background: var(--text-color);
    color: var(--background-color);
}
#help.activated #help-toggle:hover {
    background: var(--text-color);
    color: var(--highlight-color);
}
#help-toggle {
    border: 1px solid var(--text-color);
    border-bottom: 0;
    border-left: 0;
    background: transparent;
    color: var(--text-color);
    border-radius: 0 4px 0 0;
    font-weight: bold;
    padding: 0;
    width: 18px;
    height: 18px;
}
#help-toggle:hover {
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}
#help-text {
    display: none;
    background-color: var(--text-color);
    color: var(--background-color);
}
#help-text strong {
    text-transform: uppercase;
}

#controls{
    z-index: 10000;
    position: absolute;
    top: 42px;
    left: 12px;
    width: 12rem;
    font-size: 0.7rem;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
    display: flex;
    padding: 2px;
}
#controls button {
    flex: 1;
    margin-right: 2px;
    padding: 0;
    border-radius: 2px;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
}
#controls button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}
#controls .control-spacer {
    flex: 0.1;
}
#controls button:last-child {
    margin-right:0;
}
#controls #zoom-in {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#controls #zoom-out {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#controls.sidebarHidden {
    width:auto;
}
#controls.sidebarHidden button {
    display: none;
}
#controls.sidebarHidden #hide-show {
    display: block;
    min-width: 16px;
}

/* media browser */
#browser {
    z-index: 10000;
    position: absolute;
    top: 72px;
    left: 12px;
    width: 12rem;
    font-size: 0.7rem;
    font-weight: bold;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
}
#browser.sidebarHidden {
    display:none;
}
#browser-sounds, #browser-images { /* display lists in reverse order to reflect stacking */
    display:flex;
    flex-direction: column-reverse;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2px;
}
#browser-sounds {
    margin-bottom: 12px;
}
#browser .item {
    background-color: rgb(192, 79, 47);
    color: var(--background-color);
    border-radius: 2px;
    margin: 1px 0;
    padding: 2px;
    display: flex;
    line-height: 10px;
    flex-wrap: wrap;
    position: relative;
}
#browser .item.selected {
    border: 1px solid var(--highlight-color) !important;
    padding: 1px;
}
#browser .item.locked {
    border: 1px dashed var(--background-color) !important;
    padding: 1px;
}
#browser .item:first-child {
    margin-bottom: 0 !important;
}
#browser .item-name {
    flex: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
}
#browser .image-item .item-name {
    flex: 12;
}
#browser .item-button {
    flex: 1;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-left: 2px;
    padding: 0;
    border-radius: 2px;
    border: none;
    z-index: 10;
}
#browser .item-button:hover {
    background-color: var(--highlight-color);
}
#browser .item-button svg {
    margin: 0 auto;
}
#browser .activated {
    color: var(--highlight-color) !important;
}
#browser .activated:hover {
    color: var(--text-color) !important;
}
.sound-item-progress-track {
    flex-basis: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color);
    margin-top: 2px;
    border: none;
    padding: 1px;
    z-index: 10;
}
.sound-item-progress-bar {
    height: 2px;
    border-radius: 2px;
    background-color: var(--highlight-color);
    min-width: 2px;
    width: 50%;
    border: none;
    z-index: 10;
}
.volume {
    position:absolute;
    width: 100%;
    bottom:0;
    left:0;
    height: 80%;
    background: var(--text-color);
    z-index: 0;
    border-radius: 2px;
}
.item-name {
    background: none;
    border: none;
    padding: 0;
    text-align: left;
}

/* menus*/

.menu {
    z-index: 10000;
    position: absolute;
    top: var(--title-bar-height);
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-top: none;
    width: 100%;
    height: calc(100% - 30px);
    padding: 1rem 5rem;
    display: none;
    font-size: 0.8rem;
    overflow-y: scroll;
    scrollbar-color: var(--text-color) var(--background-color);
}
.menu::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 5px;
}
.menu::-webkit-scrollbar:horizontal {
    height: 5px;
}
.menu::-webkit-scrollbar-corner, .menu::-webkit-resizer {
    background-color: var(--text-color);
}
.menu::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}
.menu h2, .menu h3 {margin-top: 1rem;}

.menu h2 {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 0 8px;
}

.menu h3 {
    text-decoration: underline;
}


/* modal */

#modal-background {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#modal {
    width: 80%;
    max-width: 50rem;
    margin: 10% auto;
    padding: 1rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 4px;
}
#modal svg {
    display: inline-block;
}
#modal p, #modal ul {
    font-weight: bold;
    font-size: 0.7rem;
}

/* responsive styles */

@media (min-width: 801px) {
    .toolbar-button .button-title-full {
        display: inline-block;
    }
    .toolbar-button .button-title-short {
        display: none;
    }
}

@media (max-width: 800px) {
    .toolbar-button .button-title-full {
        display: none;
    }
    .toolbar-button .button-title-short {
        display: inline-block;
    }
}

@media (max-width: 620px) {
    .toolbar-button .button-title-full {
        display: none;
    }
    .toolbar-button .button-title-short {
        display: none;
    }
}

@media (max-width: 450px) {
    .toolbar-button .button-title-full {
        display: none;
    }
    .toolbar-button .button-title-short, .project-name {
        display: none;
    }
}