/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
      margin: 0 !important;
      padding: 0 !important;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    /*max-width: 100%; <- broke leaflet custom panes*/
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  html {
    isolation: isolate;
  }

/* Variables */

:root {
    overscroll-behavior: none;
    /* debug theme */
    --c-ui: gray;
    --c-ui-accent: darkgray;
    --c-text: lightgray;
    --c-highlight: white;
    --c-map: navy;
    --c-map-grid: skyblue;
    --c-menu: black;
    --c-menu-text: gray;
    --c-menu-highlight: yellow;
    --c-map-listener: red;
    --c-map-listener-accent: black;
    --c-map-shape: orange;
    --f-ui: monospace;
    
    --title-bar-height: 30px;
}

/* app styles */

body { 
    display: flex;
    font-family:'Courier New', Courier, monospace;
}

/* Map */

#map-wrapper {
    width: 100%;
    height: calc(100% - var(--title-bar-height));
    position: fixed;
    top: var(--title-bar-height);
}
#map-wrapper.imagesHidden .leaflet-overlay-pane,
#map-wrapper.soundsHidden .leaflet-sound-pane {
    display: none;
}
#map {
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-color: var(--c-map);
}
#map *:focus {
    outline: none;
}
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Tool Bar */

.titlebar h1 {
    float:left;
    display: block;
    font-size: 10pt;
    padding: 6px 5px;
}
.titlebar-drag {
    flex: auto;
}
.toolbar-button {
    color: var(--c-ui);
    border: none;
    margin: 2px 0px 2px 2px;
    background-color: var(--c-text);
    border-radius: 4px;
    font-weight: bold;
    padding: 0;
    font-size: 10pt;
    display: flex;
}
.toolbar-button.selected {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--c-highlight);
}
.toolbar-button svg {
    display: inline-block;
    margin: 1px;
}
.toolbar-button > span {
    display: inline-block;
    padding: 4px 0;
    margin: 0 5px 0 0;
}
.button-title-full span, .button-title-short span {
    text-decoration: underline;
}
.toolbar-button:hover {
    background-color: var(--c-highlight);
    color: var(--c-text);
}
.toolbar-spacer {
    display: flex;
    flex-basis: 8px;
}
.titlebar {
    height: var(--title-bar-height);
    width: 100%;
    background: var(--c-ui);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: var(--c-text);
}
.titlebar, .titlebar * {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
.titlebar h1 {
    cursor: default;
    display: inline-flex;
}
.project-name {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--title-bar-height);
    height: var(--title-bar-height);
    background: transparent;
    padding: 0;
    border: none;
}
.titlebar-button:hover {
    color: var(--c-highlight);
}

/* Leaflet Map Frame */

.leaflet-touch {
    background-color: var(--c-ui);
    color: var(--c-text);
    border: 2px solid var(--c-ui);
    border-top: none;
}

/* Not showing real world maps - hide attribution */

.leaflet-control-attribution {
    display: none;
}

/*  Classes for leaflet markers: 
    leaflet-marker-icon 
    leaflet-div-icon 
    leaflet-vertex-icon 
    leaflet-zoom-animated 
    leaflet-interactive 
    leaflet-marker-draggable  */

.leaflet-vertex-icon {
    background: var(--c-ui);
    border: none;
    border-radius: 9999px;
}
.leaflet-middle-icon {
    background: none;
    border: 1px solid var(--c-ui);
    opacity: 100% !important;
    border-radius: 9999px;
}

/* help area */

#help {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    font-size: 0.7rem;
    font-weight: bold;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
    width: 100%;
}
#help.activated #help-text { 
    display:block; 
}
#help.activated #help-toggle {
    background: var(--c-ui);
    color: var(--c-text);
}
#help.activated #help-toggle:hover {
    background: var(--c-highlight);
}
#help-toggle {
    border: 1px solid var(--c-ui);
    border-bottom: 0;
    border-left: 0;
    background: transparent;
    color: var(--c-ui);
    border-radius: 0 4px 0 0;
    font-weight: bold;
    padding: 0;
    width: 18px;
    height: 18px;
}
#help-toggle:hover {
    border-color: var(--c-highlight);
    background-color: var(--c-highlight);
}
#help-text {
    display: none;
    background-color: var(--c-ui);
    color: var(--c-text);
    min-height:1rem;
    min-width: 100%;
}
#help-text strong {
    text-transform: uppercase;
}

/* Map Controls */

#controls{
    z-index: 10000;
    position: absolute;
    top: 42px;
    left: 12px;
    width: 12rem;
    font-size: 0.7rem;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
    display: flex;
    padding: 2px;
}
#controls button {
    flex: 1;
    margin-right: 2px;
    padding: 0;
    border-radius: 2px;
    border: none;
    background-color: var(--c-ui);
    color: var(--c-text);
}
#controls button:hover {
    background-color: var(--c-highlight);
}
#controls button svg {
    margin: 0 auto;
}
#controls .control-spacer {
    flex: 0.1;
}
#controls button:last-child {
    margin-right:0;
}
#controls #zoom-in {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#controls #zoom-out {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#controls.sidebarHidden {
    width:auto;
}
#controls.sidebarHidden button {
    display: none;
}
#controls.sidebarHidden #hide-show {
    display: block;
    min-width: 16px;
}

/* Media Browser */

#browser {
    z-index: 10000;
    position: absolute;
    top: 72px;
    left: 12px;
    width: 12rem;
    font-size: 0.7rem;
    font-weight: bold;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
}
.browser-heading svg {
    height: 14px;
}
.browser-heading span {
    color: var(--c-ui);
}
.browser-heading-button {
    float:right;
    background:none;
    border: none;
    color: var(--c-ui);
    padding: 0;
}
.browser-heading-button:hover,
.browser-heading-button.soundsHidden,
.browser-heading-button.imagesHidden {
    color: var(--c-highlight);
}
#browser.sidebarHidden {
    display:none;
}
#browser-sounds, #browser-images { /* display lists in reverse order to reflect stacking */
    display:flex;
    flex-direction: column-reverse;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2px;
}
#browser-sounds {
    margin-bottom: 12px;
}
#browser .item {
    background-color: var(--c-ui-accent);
    color: var(--c-text);
    border-radius: 2px;
    margin: 1px 0;
    padding: 2px;
    display: flex;
    line-height: 10px;
    flex-wrap: wrap;
    position: relative;
}
#browser .item.selected {
    border: 1px solid var(--c-highlight) !important;
    padding: 1px;
}
#browser .item.locked {
    border: 1px dashed var(--c-ui) !important;
    padding: 1px;
}
#browser .item:first-child {
    margin-bottom: 0 !important;
}
#browser .item-name {
    flex: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
}
#browser .image-item .item-name {
    flex: 12;
}
#browser .item-button {
    flex: 1;
    background-color: var(--c-text);
    color: var(--c-ui);
    margin-left: 2px;
    padding: 0;
    border-radius: 2px;
    border: none;
    z-index: 10;
}
#browser .item-button:hover {
    background-color: var(--c-highlight);
}
#browser .item-button svg {
    margin: 0 auto;
}
#browser .activated {
    color: var(--c-highlight) !important;
}
#browser .activated:hover {
    color: var(--c-ui) !important;
}
.sound-item-progress-track {
    flex-basis: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-text);
    margin-top: 2px;
    border: none;
    padding: 1px;
    z-index: 10;
}
.sound-item-progress-bar {
    height: 2px;
    border-radius: 2px;
    background-color: var(--c-highlight);
    min-width: 2px;
    width: 0%;
    border: none;
    z-index: 10;
}
.volume {
    position:absolute;
    width: 100%;
    bottom:0;
    left:0;
    height: 80%;
    background: var(--c-ui);
    z-index: 0;
    border-radius: 2px;
}
.item-name {
    background: none;
    border: none;
    padding: 0;
    text-align: left;
}
#master-volume {
    width: .5em;
    height: 1.3em;
    display: inline-block;
    background-color: var(--c-ui-accent);
    position: relative;
    border: 1px solid var(--c-ui);
    vertical-align: top;
    border-radius: 1px;
}
#master-volume-bar {
    background-color: var(--c-ui);
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Menus */

.menu {
    z-index: 10000;
    position: absolute;
    top: var(--title-bar-height);
    background-color: var(--c-menu);
    color: var(--c-menu-text);
    border: 2px solid var(--c-ui);
    border-top: none;
    width: 100%;
    height: calc(100% - 30px);
    padding: 1rem 5rem;
    display: none;
    font-size: 0.8rem;
    overflow-y: scroll;
    scrollbar-color: var(--c-menu) var(--c-menu-text);
    font-weight: bold;
}
.menu::-webkit-scrollbar {
    background-color: var(--c-menu);
    width: 5px;
}
.menu::-webkit-scrollbar:horizontal {
    height: 5px;
}
.menu::-webkit-scrollbar-corner, .menu::-webkit-resizer {
    background-color: var(--c-menu-text);
}
.menu::-webkit-scrollbar-thumb {
    background-color: var(--c-menu-text);
}
.menu h2, .menu h3 {
    margin-top: 1rem;
}
.menu h2 {
    color: var(--c-menu);
    background-color: var(--c-menu-text);
    padding: 0 8px;
    border-radius: 1px;
}
.menu h3 {
    text-decoration: underline;
}
.menu p {
    margin-bottom: 1rem;
}
.menu a {
    color: var(--c-menu-highlight);
}
.links {
    margin-top: 1rem;
}
.links svg {
    display: inline-block;
    vertical-align: middle;
}
.setting{
    padding: 20px 0 0 0;
}
.setting+h2 {
    margin-top: 30px;
}

/* fancy inputs */

input[type=checkbox] {
    cursor: default;
    appearance: none;
    background: transparent;
    border-style: none;
    flex-shrink: 0;
    height: 16px;
    position: relative;
    width: 30px;
    border: 1px solid var(--c-menu-text);
    vertical-align: middle;
    transition-duration: 0s;
    border-radius: 1px;
}
input[type=checkbox]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}
input[type=checkbox], input[type=checkbox]::after {
    transition: all 100ms ease-out;
}
input[type=checkbox]::after {
    background-color: var(--c-menu-text);
    content: "";
    height: 10px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 10px;
}

input[type=checkbox]:hover::after {
    background-color: var(--c-menu-text);
}
input[type=checkbox]:checked::after {
    left: 16px;
}
input[type=range], select {
    appearance: none;
    background: transparent;
    border: 1px solid var(--c-menu-text);
    color: var(--c-menu-text);
    width: 50px;
    text-align: center;
    border-radius: 1px;
}
.setting button {
    border-radius: 2px;
    border: none;
    background-color: var(--c-menu-text);
    color: var(--c-menu);
}
.setting button:hover {
    background-color: var(--c-menu-highlight);
}
select {
    font-family: inherit;
    width: 100px;
    text-align: center;
    padding: 0 10px;
}
input:focus, select:focus, button:focus {
    outline: 1px solid var(--c-menu-highlight);
    outline-offset: 1px;
}
input[type=range] {
    height: 16px;
    width: 200px;
    padding: 2px;
    vertical-align: middle;
    cursor: default;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin: 0;
    background: var(--c-menu-text);
    cursor: default;
  }

input[type=range]::-moz-range-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    margin: 0;
    background: var(--c-menu-text);
    cursor: default;
  }
.rangeValue {
    background: var(--c-menu-text);
    color: var(--c-menu);
    height: 16px;
    padding: 1px 5px;
    border-radius: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    width: 40px;
    text-align: center;
}
.rangeValue::after {
    content: "";
    position: absolute;
    border-top: 3px solid transparent;
    border-right: 3px solid var(--c-menu-text);
    border-bottom: 3px solid transparent;
    height: 6px;
    width: 6px;
    top: 5px;
    left: -6px;
}

.changed label, .changed select {
    color: var(--c-menu-highlight);
}
.changed input, .changed select {
    border-color: var(--c-menu-highlight);
}
.changed input[type=range]::-webkit-slider-thumb {
    background-color: var(--c-menu-highlight);
}
.changed input[type=range]::-moz-range-thumb {
    background-color: var(--c-menu-highlight);
}
.changed .rangeValue {
    background-color: var(--c-menu-highlight);
}
.changed .rangeValue::after {
    border-right: 3px solid var(--c-menu-highlight);
}
.changed input[type=checkbox]::after {
    background-color: var(--c-menu-highlight);
}

/* modal */

#modal-background {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#modal {
    width: 80%;
    max-width: 50rem;
    margin: 10% auto;
    padding: 1rem;
    background-color: var(--c-ui);
    color: var(--c-text);
    border-radius: 2px;
}
#modal svg {
    display: inline-block;
}
#modal p, #modal ul {
    font-weight: bold;
    font-size: 0.7rem;
}

/* responsive styles */

@media (min-width: 901px) {
    .toolbar-button .button-title-full {
        display: inline-block;
    }
    .toolbar-button .button-title-short {
        display: none;
    }
}

@media (max-width: 900px) {
    .toolbar-button .button-title-full {
        display: none;
    }
    .toolbar-button .button-title-short {
        display: inline-block;
    }
}

@media (max-width: 720px) {
    .toolbar-button .button-title-full {
        display: none;
    }
    .toolbar-button .button-title-short {
        display: none;
    }
}

@media (max-width: 450px) {
    .toolbar-button .button-title-full {
        display: none;
    }
    .toolbar-button .button-title-short, .project-name {
        display: none;
    }
}