/* #################################################
   ############ Josh's Custom CSS Reset ############
   #################################################
   https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
html, body {
    margin: 0 !important;
    padding: 0 !important;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    /*max-width: 100%; <- broke leaflet custom panes*/
}
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
html { isolation: isolate; }
pre { font-size: 0.8em; }


/* #####################
   ##### Variables #####
   ##################### */

:root {
    height: 100%;
    overscroll-behavior: none;

    /* Warning */
    --wrn-bg: #fff;
    --wrn-fg: #fff;
    --wrn-hov-bg: #fff;
    --wrn-hov-fg: #fff;

    /* Canvas */
    --cnv-b: #fff;
    --cnv-bg: #fff;
    --cnv-fg: #fff;

    /* Anchors */
    --anc-b: #fff;
    --anc-bg: #fff;
    --anc-fg: #fff;
    --anc-hov-b: #fff;
    --anc-hov-bg: #fff;
    --anc-hov-fg: #fff;
    --anc-act-b: #fff;
    --anc-act-bg: #fff;
    --anc-act-fg: #fff;
    --anc-lck-b: #fff;
    --anc-lck-bg: #fff;
    --anc-lck-fg: #fff;

    /* Panels */
    --pnl-b:  #fff;
    --pnl-bg: #fff;
    --pnl-fg: #fff;
    /* Titlebar Panel */
    --pnl-tb-b:  #fff;
    --pnl-tb-bg: #fff;
    --pnl-tb-fg: #fff;
    /* Control Panel */
    --pnl-ctrl-b:  #fff;
    --pnl-ctrl-bg: #fff;
    --pnl-ctrl-fg: #fff;
    /* Media Panel */
    --pnl-media-b:  #fff;
    --pnl-media-bg: #fff;
    --pnl-media-fg: #fff;
    /* Help Panel*/
    --pnl-help-b:  #fff;
    --pnl-help-bg: #fff;
    --pnl-help-fg: #fff;
    /* Menu Panel*/
    --pnl-menu-b:  #fff;
    --pnl-menu-bg: #fff;
    --pnl-menu-fg: #fff;

    /* Item Panels*/
    --itm-b:      #fff;
    --itm-bg:     #fff;
    --itm-fg:     #fff;
    --itm-hov-b:  #fff;
    --itm-hov-bg: #fff;
    --itm-hov-fg: #fff;
    --itm-act-b:  #fff;
    --itm-act-bg: #fff;
    --itm-act-fg: #fff;
    --itm-lck-b:  #fff;
    --itm-lck-bg: #fff;
    --itm-lck-fg: #fff;
    /* Media Item Panel */
    --itm-media-b:      #fff;
    --itm-media-bg:     #fff;
    --itm-media-fg:     #fff;
    --itm-media-hov-b:  #fff;
    --itm-media-hov-bg: #fff;
    --itm-media-hov-fg: #fff;
    --itm-media-act-b:  #fff;
    --itm-media-act-bg: #fff;
    --itm-media-act-fg: #fff;
    --itm-media-lck-b:  #fff;
    --itm-media-lck-bg: #fff;
    --itm-media-lck-fg: #fff;

    /* Buttons*/
    --btn-b:      #fff;
    --btn-bg:     #fff;
    --btn-fg:     #fff;
    --btn-hov-b:  #fff;
    --btn-hov-bg: #fff;
    --btn-hov-fg: #fff;
    --btn-act-b:  #fff;
    --btn-act-bg: #fff;
    --btn-act-fg: #fff;
    /* Titlebar Buttons */
    --btn-tb-b:      #fff;
    --btn-tb-bg:     #fff;
    --btn-tb-fg:     #fff;
    --btn-tb-hov-b:  #fff;
    --btn-tb-hov-bg: #fff;
    --btn-tb-hov-fg: #fff;
    --btn-tb-act-b:  #fff;
    --btn-tb-act-bg: #fff;
    --btn-tb-act-fg: #fff;
    /* Titlebar Minimize Button */
    --btn-tb-min-b:       #fff;
    --btn-tb-min-bg:      #fff;
    --btn-tb-min-fg:      #fff;
    --btn-tb-min-hov-b:   #fff;
    --btn-tb-min-hov-bg:  #fff;
    --btn-tb-min-hov-fg:  #fff;
    /* Titlebar Maximize Button */
    --btn-tb-max-b:       #fff;
    --btn-tb-max-bg:      #fff;
    --btn-tb-max-fg:      #fff;
    --btn-tb-max-hov-b:   #fff;
    --btn-tb-max-hov-bg:  #fff;
    --btn-tb-max-hov-fg:  #fff;
    /* Titlebar Quit Button */
    --btn-tb-quit-b:      #fff;
    --btn-tb-quit-bg:     #fff;
    --btn-tb-quit-fg:     #fff;
    --btn-tb-quit-hov-b:  #fff;
    --btn-tb-quit-hov-bg: #fff;
    --btn-tb-quit-hov-fg: #fff;
    /* Control Panel Buttons */
    --btn-ctrl-b:      #fff;
    --btn-ctrl-bg:     #fff;
    --btn-ctrl-fg:     #fff;
    --btn-ctrl-hov-b:  #fff;
    --btn-ctrl-hov-bg: #fff;
    --btn-ctrl-hov-fg: #fff;
    --btn-ctrl-act-b:  #fff;
    --btn-ctrl-act-bg: #fff;
    --btn-ctrl-act-fg: #fff;
    /* Media Panel Buttons */
    --btn-media-b:      #fff;
    --btn-media-bg:     #fff;
    --btn-media-fg:     #fff;
    --btn-media-hov-b:  #fff;
    --btn-media-hov-bg: #fff;
    --btn-media-hov-fg: #fff;
    --btn-media-act-b:  #fff;
    --btn-media-act-bg: #fff;
    --btn-media-act-fg: #fff;
    /* Help Panel Buttons */
    --btn-help-b:      #fff;
    --btn-help-bg:     #fff;
    --btn-help-fg:     #fff;
    --btn-help-hov-b:  #fff;
    --btn-help-hov-bg: #fff;
    --btn-help-hov-fg: #fff;
    --btn-help-act-b:  #fff;
    --btn-help-act-bg: #fff;
    --btn-help-act-fg: #fff;
    /* Menu Panel Buttons */
    --btn-menu-b:      #fff;
    --btn-menu-bg:     #fff;
    --btn-menu-fg:     #fff;
    --btn-menu-hov-b:  #fff;
    --btn-menu-hov-bg: #fff;
    --btn-menu-hov-fg: #fff;
    --btn-menu-act-b:  #fff;
    --btn-menu-act-bg: #fff;
    --btn-menu-act-fg: #fff;

    /* Tracks */
    --trk-bg: #fff;
    --trk-fg: #fff;
    /* Audio Progress Track */
    --trk-itm-media-bg: #fff;
    --trk-itm-media-fg: #fff;

    /* Timers */
    --tmr-bg: #fff;
    --tmr-fg: #fff;
    --tmr-hov-bg: #fff;
    --tmr-hov-fg: #fff;
    --tmr-act-bg: #fff;
    --tmr-act-fg: #fff;
    --tmr-lck-bg: #fff;
    --tmr-lck-fg: #fff;
    /* Audio Progress Track */
    --tmr-itm-media-bg: #fff;
    --tmr-itm-media-fg: #fff;
    --tmr-itm-media-hov-bg: #fff;
    --tmr-itm-media-hov-fg: #fff;
    --tmr-itm-media-act-bg: #fff;
    --tmr-itm-media-act-fg: #fff;
    --tm-itm-mediar-lck-bg: #fff;
    --tmr-itm-media-lck-fg: #fff;

    /* Selection */
    --sel-bg: #fff;
    --sel-fg: #fff;

    /* Font */
    --f0: monospace;
    
    /* Titlebar Height */
    --tb-h:   34px;

    /* Border Radii */
    --br-m:   6px;
    --br-l:   calc(var(--br-m) + 4px);
    --br-s:   calc(var(--br-m) - 2px);
    --br-win: 12px;
}

/* ###############################
   ##### Window Border Radii #####
   ############################### */

body {          border-radius: calc(var(--br-win) + 1px); }
.container {    border-radius: calc(var(--br-win) + 1px); }
canvas {        border-radius: var(--br-win); }
#titlebar {     border-radius: var(--br-win) var(--br-win) 0 0; }
.menu {         border-radius: 0 0 calc(var(--br-win) - 1px) calc(var(--br-win) - 1px); }

/* #######################
   ##### Core Styles #####
   ####################### */

body {
    height: 100%;
    display: flex;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
}
.container {
    touch-action: none;
    user-select: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.shadow { 
    box-shadow: 0 2px 5px rgba(0,0,0,0.25); 
}
button {
    border-width: 1px;
    border-style: solid;
    border-radius: var(--br-m);
    padding: 0;
}
button.l { 
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-right: 0 !important;
    border-right: none;
}
button.m { 
    border-radius: 0 !important; 
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-right: none;
}
button.r { 
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: 0 !important;
}
#help-text {
    border-bottom: none;
    border-right: none;
}
#titlebar, #controls, #media, .container,
#help-text, .menu, .item, #modal,
.volume-track, #master-volume, #master-opacity,
#media span.item-pause {
    border: 1px solid white;
}
:focus-visible {
    outline: none;
}

/* #################
   ##### Theme #####
   ################# */


::selection {
    background-color: var(--sel-bg);
    color:            var(--sel-fg);
}
:focus-visible {
    outline: 1px solid var(--sel-b);
}


/* Canvas */
.container {    
    border-color:       var(--cnv-b); 
}

/* Panels */
#titlebar {
    border-color:       var(--pnl-tb-b);
    background-color:   var(--pnl-tb-bg);
    color:              var(--pnl-tb-fg); 
}
#controls {
    border-color:       var(--pnl-ctrl-b);
    background-color:   var(--pnl-ctrl-bg);
    color:              var(--pnl-ctrl-fg); 
}
#media {
    border-color:       var(--pnl-media-b);
    background-color:   var(--pnl-media-bg);
    color:              var(--pnl-media-fg); 
}
#help-text {
    border-color:       var(--pnl-help-b);
    background-color:   var(--pnl-help-bg);
    color:              var(--pnl-help-fg); 
}
.menu, #modal { 
    border-color:       var(--pnl-menu-b);
    background-color:   var(--pnl-menu-bg);
    color:              var(--pnl-menu-fg); 
}

/* Menu Styles */
.menu h2, #modal h3 { 
    background-color:   var(--pnl-menu-fg); 
    color:              var(--pnl-menu-bg); 
}
#modal-title {
    border-bottom:      1px solid var(--pnl-menu-b); 
}
#modal li {
    border:             1px solid var(--pnl-menu-b); 
}
#modal li:first-child {
    border-top:         1px solid var(--pnl-menu-b); 
}
#modal li.unique {
    background-color:   var(--anc-act-fg);
    color:              var(--pnl-menu-bg); 
}
.menu a, #modal a {
    color:              var(--anc-fg); 
}
.menu a:hover, #modal a:hover {
    color:              var(--anc-hov-fg); 
}
.menu label {
    color:              var(--anc-fg); 
}
.menu .changed label {
    color:              var(--anc-act-fg); 
}
.menu input[type=checkbox]::after, 
.menu input[type=checkbox]:hover::after,
.menu input[type=range]::-webkit-slider-thumb {
    background-color:   var(--anc-fg); 
}
.rangeValue {
    background-color:   var(--anc-fg); 
    color:              var(--pnl-menu-bg); 
}
.menu input[type=range], 
.menu select { 
    color:              var(--anc-fg); 
}
.menu input[type=checkbox], 
.menu input[type=range], select {
    border:             1px solid var(--anc-fg) !important; 
}
.rangeValue::after {
    border-right:       3px solid var(--anc-fg); 
}
.setting button {
    border-color:       var(--btn-menu-b);
    color:              var(--btn-menu-fg);
    background-color:   var(--btn-menu-bg); 
}
.setting button:hover {
    border-color:       var(--btn-menu-hov-b);
    color:              var(--btn-menu-hov-fg);
    background-color:   var(--btn-menu-hov-bg); 
}
.setting.changed {
    color:              var(--anc-act-fg); 
}
.setting.changed select,
.setting.changed input {
    border-color:       var(--anc-act-fg) !important; 
    color:              var(--anc-act-fg);
}
.setting.changed input[type=checkbox]::after, 
.setting.changed input[type=checkbox]:hover::after,
.setting.changed input[type=range]::-webkit-slider-thumb {
    background-color:   var(--anc-act-fg) !important; 
}
.setting.changed .rangeValue {
    background-color:   var(--anc-act-fg) !important; 
}
.setting.changed .rangeValue::after {
    border-right-color: var(--anc-act-fg) !important; 
}

/* Items */
#media .item { 
    border-color:     var(--itm-media-b);
    background-color: var(--itm-media-bg);
    color:            var(--itm-media-fg); 
}
#media .item .item-name {
    color:            var(--itm-media-fg); 
}  
#media .item:hover, #media .item.hovered {    
    border-color:     var(--itm-media-hov-b);
    background-color: var(--itm-media-hov-bg);
    color:            var(--itm-media-hov-fg); 
}
#media .item:hover .item-name, #media .item.hovered .item-name {
    color:            var(--itm-media-hov-fg); 
}  
#media .item.active { 
    border-color:     var(--itm-media-act-b);
    background-color: var(--itm-media-act-bg);
    color:            var(--itm-media-act-fg); 
}
#media .item.active .item-name {
    color:            var(--itm-media-act-fg); 
}  
#media .item.locked {   
    border-color:     var(--itm-media-lck-b);
    background-color: var(--itm-media-lck-bg);
    color:            var(--itm-media-lck-fg); 
}
#media .item.locked .item-name {
    color:            var(--itm-media-lck-fg); 
}  
#media .item.locked.hovered {   
    border-color:     var(--itm-media-hov-b); 
}
#media .item.locked.active {   
    border-color:     var(--itm-media-act-b); 
}
#media .item.locked.hovered .item-name {
    color:            var(--itm-media-hov-fg); 
}  
#media .item.over.insertAbove::before,
#media .item.over.insertBelow::before {
    background-color: var(--itm-media-b); 
}

/* Titlebar Buttons */
#titlebar button { 
    border-color:     var(--btn-tb-b);
    background-color: var(--btn-tb-bg);
    color:            var(--btn-tb-fg); 
}
#titlebar button:hover {    
    border-color:     var(--btn-tb-hov-b);
    background-color: var(--btn-tb-hov-bg);
    color:            var(--btn-tb-hov-fg); 
}
#titlebar button.active {   
    border-color:     var(--btn-tb-act-b);
    background-color: var(--btn-tb-act-bg);
    color:            var(--btn-tb-act-fg); 
}

/* Titlebar Minimize Button */
#titlebar-minimize .svg-outer {        
    stroke: var(--btn-tb-min-b);
    fill:   var(--btn-tb-min-bg); 
}
#titlebar-minimize .svg-inner {         
    fill:   var(--btn-tb-min-fg); 
}
#titlebar-minimize:hover .svg-outer {   
    stroke: var(--btn-tb-min-hov-b);
    fill:   var(--btn-tb-min-hov-bg); 
}
#titlebar-minimize:hover .svg-inner {   
    fill:   var(--btn-tb-min-hov-fg); 
}

/* Titlebar Maximize Button*/
#titlebar-maximize .svg-outer {         
    stroke: var(--btn-tb-max-b);
    fill:   var(--btn-tb-max-bg); 
}
#titlebar-maximize .svg-inner {         
    fill:   var(--btn-tb-max-fg); 
}
#titlebar-maximize:hover .svg-outer {   
    stroke: var(--btn-tb-max-hov-b);
    fill:   var(--btn-tb-max-hov-bg); 
}
#titlebar-maximize:hover .svg-inner {   
    fill:   var(--btn-tb-max-hov-fg); 
}

/* Titlebar Quit Button */
#titlebar-close .svg-outer {            
    stroke: var(--btn-tb-quit-b);
    fill:   var(--btn-tb-quit-bg); 
}
#titlebar-close .svg-inner {
    fill:   var(--btn-tb-quit-fg); 
}
#titlebar-close:hover .svg-outer { 
    stroke: var(--btn-tb-quit-hov-b);
    fill:   var(--btn-tb-quit-hov-bg); 
}
#titlebar-close:hover .svg-inner { 
    fill:   var(--btn-tb-quit-hov-fg); 
}

/* Controls Panel Buttons */
#controls button { 
    border-color:     var(--btn-ctrl-b);
    background-color: var(--btn-ctrl-bg);
    color:            var(--btn-ctrl-fg); 
}
#controls button:hover {    
    border-color:     var(--btn-ctrl-hov-b);
    background-color: var(--btn-ctrl-hov-bg);
    color:            var(--btn-ctrl-hov-fg); 
}
#controls button.active {   
    border-color:     var(--btn-ctrl-act-b);
    background-color: var(--btn-ctrl-act-bg);
    color:            var(--btn-ctrl-act-fg); 
}

/* Media Panel Buttons*/
#media button {  
    border-color:     var(--btn-media-b);
    background-color: var(--btn-media-bg);
    color:            var(--btn-media-fg); 
}
#media button:hover { 
    border-color:     var(--btn-media-hov-b);
    background-color: var(--btn-media-hov-bg);
    color:            var(--btn-media-hov-fg); 
}
#media button.active { 
    border-color:     var(--btn-media-act-b);
    background-color: var(--btn-media-act-bg);
    color:            var(--btn-media-act-fg); 
}
#media span.item-pause.disabled {
    border-color:     var(--btn-media-lck-b);
    background-color: var(--btn-media-lck-bg);
    color:            var(--btn-media-lck-fg);
}

/* Help Panel Buttons */
#help button { 
    border-color:     var(--btn-help-b);
    background-color: var(--btn-help-bg);
    color:            var(--btn-help-fg); 
}
#help button:hover { 
    border-color:     var(--btn-help-hov-b);
    background-color: var(--btn-help-hov-bg);
    color:            var(--btn-help-hov-fg); 
}
#help button.active { 
    border-color:     var(--btn-help-act-b);
    background-color: var(--btn-help-act-bg);
    color:            var(--btn-help-act-fg); 
}

/* Menu Panel Buttons */
.menu button, #modal button { 
    border-color:     var(--btn-menu-b);
    background-color: var(--btn-menu-bg);
    color:            var(--btn-menu-fg); 
}
.menu button:hover, #modal button:hover { 
    border-color:     var(--btn-menu-hov-b);
    background-color: var(--btn-menu-hov-bg);
    color:            var(--btn-menu-hov-fg); 
}
.menu button.active, #modal button:active { 
    border-color:     var(--btn-menu-act-b);
    background-color: var(--btn-menu-act-bg);
    color:            var(--btn-menu-act-fg); 
}
.menu span.item-pause.disabled {
    border-color:     var(--btn-menu-lck-b);
    background-color: var(--btn-menu-lck-bg);
    color:            var(--btn-menu-lck-fg);
}


/* Volume/Opacity Controls: Headers */
#media .heading .volume-track {
    background-color:   var(--vol-media-bg);
    border-color:       var(--vol-media-b); 
}
#media .heading .volume-bar {
    background-color:   var(--vol-media-fg); 
}
#media .heading .volume-track:hover {
    background-color:   var(--vol-media-hov-bg);
    border-color:       var(--vol-media-hov-b); 
}
#media .heading .volume-track:hover .volume-bar {
    background-color:   var(--vol-media-hov-fg); 
}


/* Volume/Opacity Controls: Items */
#media .item .volume-track {
    background-color:   var(--vol-itm-media-bg);
    border-color:       var(--itm-media-b); 
}
#media .item .volume-bar {        
    background-color:   var(--vol-itm-media-fg); 
}
#media .item.active .volume-track {
    border-color:       var(--itm-media-act-b); 
}
#media .item.locked .volume-track {
    border-color:       var(--itm-media-lck-b); 
}
#media .item.hovered .volume-track, 
#media .item:hover .volume-track {
    border-color:       var(--itm-media-hov-b); 
}
#media .item .volume-track:hover {
    background-color:   var(--vol-itm-media-hov-bg);
}
#media .item .volume-track:hover .volume-bar {
    background-color:   var(--vol-itm-media-hov-fg); 
}


/* Audio Progress Track */
#media .progress-track {
    background-color: var(--trk-itm-media-bg); }
#media .progress-bar {
    background-color: var(--trk-itm-media-fg); }
#media .progress-track.active {
    background-color: var(--trk-itm-media-act-bg); }
#media .progress-track.active .progress-bar {
    background-color: var(--trk-itm-media-act-fg); }
#media .progress-track:hover {
    background-color: var(--trk-itm-media-hov-bg); }
#media .progress-track:hover .progress-bar {
    background-color: var(--trk-itm-media-hov-fg); }


/* Timer */
#media .item input.timer {
    color:            var(--tmr-itm-media-fg);
    background-color: var(--tmr-itm-media-bg); }
#media .item input.timer:hover {
    color:            var(--tmr-itm-media-hov-fg) !important;
    background-color: var(--tmr-itm-media-hov-bg) !important; } 
#media .item input.timer:focus {
    color:            var(--tmr-itm-media-act-fg) !important;
    background-color: var(--tmr-itm-media-act-bg) !important; } 
#media .item input.timer:disabled {
    color:            var(--tmr-itm-media-lck-fg) !important;
    background-color: var(--tmr-itm-media-lck-bg) !important; }
    #media .item input.timer:disabled + .timer-divider  {
    color:            var(--tmr-itm-media-lck-fg) !important; }

/* Warning */
#media .item-delete:hover,
#modal-deleteunique-confirm:hover {
    background-color: var(--wrn-hov-bg) !important;
    color:            var(--wrn-hov-fg) !important;
    border-color:     var(--wrn-hov-b) !important;
}

/* #####################
   ##### Title Bar #####
   ##################### */

#titlebar .spacer {
    flex: auto;
}
#titlebar h1 {
    float:left;
    display: block;
    font-size: 10pt;
    padding: 6px 5px;
    margin-right: 4px;
}
#titlebar button {
    margin: 4px 0px 4px 2px;
    font-weight: bold;
    padding-top: 2px;
    font-size: 10pt;
    display: flex;
    margin-right: 4px;
}
#titlebar button.adaptive.active {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
#titlebar button.adaptive svg {
    display: inline-block;
    margin: 1px;
    height: 16px;
}
#titlebar button.adaptive > span {
    display: inline-block;
    padding: 1px 0;
    margin: 0 5px 0 0;
}
#titlebar {
    height: var(--tb-h);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#titlebar, #titlebar * {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
#titlebar h1 {
    cursor: default;
    display: inline-flex;
}
.project-name {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0;
    margin-left: 4px;
}
.window-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 18px;
    background-color: transparent !important;
    padding: 0;
    border: none !important;
    margin: auto 6px auto 0;
}
.window-button .svg-outer { stroke-width: 1px; }

/* ###########################
   ##### Canvas Controls #####
   ########################### */

#controls{
    border-radius:    var(--br-l);
    position: absolute;
    top: 40px;
    left: 6px;
    font-size: 0.7rem;
    font-weight: bold;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
    display: flex;
    padding: 4px;
}
#controls button {
    margin-right: 4px;
    width: 22px;
}
#controls button svg {
    margin: 2px auto;
    width: 14px;
    height: 14px;
}
#controls .control-spacer {
    flex: 0.1;
}
#controls button:last-child {
    margin-right:0;
}
#controls.sidebarHidden {
    width:auto;
}
#controls.sidebarHidden button {
    display: none;
}
#controls.sidebarHidden #hide-show {
    display: block;
    min-width: 22px;
}


/* #########################
   ##### Media Browser ##### 
   ######################### */

#media {
    border-radius:    var(--br-l);
    z-index: 10000;
    position: absolute;
    top: 76px;
    left: 6px;
    width: 220px;
    font-size: 0.7rem;
    font-weight: bold;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
    max-height: calc(100% - 122px);
    overflow: scroll;
}
#media::-webkit-scrollbar { background-color: transparent; }
#media::-webkit-scrollbar { width: 0px; }
#media::-webkit-scrollbar:horizontal { height: 0px; }

#media .heading {
    margin: 0;
}

#media.empty, #media-sounds.empty, #media-images.empty {
    display: none;
}

#media-sounds:not(.empty) + #media-images {
    margin-top: 8px;
}

#media .heading .controls button {
    float:right;
    height: 14px;
    width: 16px;
    margin-bottom: 4px;
}
#media .heading button svg {
    height: 12px !important;
    width: 14px !important;
    vertical-align: baseline;
}
#media.sidebarHidden {
    display: none;
}
#media-sounds, #media-images {
    display:flex;
    flex-direction: column;
    margin: 4px;
}
#media .item.dragging {
    opacity: 50%;
}
#media .item.over.insertAbove::before {
    content:"";
    width: 100%;
    height: 2px;
    position:absolute;
    top: -4px;
}
#media .item.over.insertBelow::before {
    content:"";
    width: 100%;
    height: 2px;
    position:absolute;
    bottom: -4px;
}
#media .item {
    margin: 8px 0 0 8px;
    padding: 3px;
    display: flex;
    line-height: 10px;
    flex-wrap: wrap;
    position: relative;
    border-radius: 0 var(--br-m) var(--br-m) 0;
}
#media .item:first-child {
    margin-top: 4px;
}
#media .item.hidden {
    opacity: 0.5;
}
#media .item .item-name {
    flex: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
    background: none !important;
}
#media .item button {
    flex: 1;
    margin-left: 2px;
    padding: 0 1px;
    z-index: 10;
    border-radius: var(--br-s);
}
#media .item button svg,
#media .item span svg {
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 12px;
}
#media .item button.item-type {
    margin-left: 0;
}
#media .item .item-pause {
    flex: 4 !important;
}
#media .item span.item-pause {
    height: 14px;
}
#media .item span.item-pause + button {
    border-left:none;
}
#media .item span.item-pause input.timer {
    height: 12px;
    width: 15px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    border: none;
    background: none;
    text-align: right;
}

#media .item span.item-pause input.timer:focus-visible {
    outline: none;
}
#media .item span.item-pause button {
    height: 10px;
    padding: 0;
    margin-top: 1px;
}
#media .item span.item-pause button svg {
    height: 8px;
    margin-top: -3px;
}
#media .item .timer-divider {
    vertical-align: top !important;
}
#media .item .timer-divider.blink {
    opacity: 0;
}
#media .item button.progress-track {
    flex-basis: 100%;
    height: 6px;
    border-radius: var(--br-s);
    margin: 2px 0 3px;
    z-index: 10;
    border: none;
    padding: 0 1px;
}
#media .item .progress-bar {
    height: 4px;
    border-radius: calc(var(--br-s) - 1px);
    min-width: 2px;
    width: 0%;
    z-index: 10;
    border: none;
}
#media .item button.volume-track {
    position: absolute;
    width: 8px;
    height: calc(100% + 2px);
    top: -1px;
    left: -9px;
    border-right: none;
    border-radius: var(--br-m) 0 0 var(--br-m);
    margin: 0;
    padding: 0;
}
#media .item .volume-bar {
    position:absolute;
    width: 7px;
    bottom:0;
    height: 80%;
    z-index: 0;
    border-radius: var(--br-s) 0 0 var(--br-s);
}
#media .item .item-name {
    background: none;
    border: none;
    padding: 0;
    text-align: left;
}
#master-volume, #master-opacity {
    width: 9px;
    height: 14px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: var(--br-m);
    margin-bottom: 4px;
}
#master-volume-bar, #master-opacity-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: var(--br-s);
}
#media .item.locked {
    border-style: dashed;
    border-left-style: solid;
}


/* ####################
   ##### Help Bar #####
   #################### */

#help {
    z-index: 100000;
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 0.7rem;
    font-weight: bold;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    cursor: default;
    width: calc(100% - 12px);
    display: flex;
}
#help:not(.activated) {
    box-shadow: none;
    width: 18px;
}
#help.activated #help-text { 
    display:block; 
}
#help-toggle {
    border-radius: var(--br-l);
    font-weight: bold;
    padding: 0;
    min-width: 18px;
}
#help-text {
    display: none;
    padding: 0 4px;
    flex-grow: 1;
    border-radius: var(--br-l);
    margin-left: 4px;
}


/* #################
   ##### Menus #####
   ################# */

.menu {
    top: var(--tb-h);
    height: calc(100% - var(--tb-h));
    z-index: 10000;
    position: absolute;
    border-top: none;
    width: 100%;
    padding: 1rem 5rem;
    display: none;
    font-size: 0.8rem;
    overflow-y: scroll;
    font-weight: bold;
    border-top: none;
}
.menu::-webkit-scrollbar {
    width: 5px;
}
.menu::-webkit-scrollbar:horizontal {
    height: 5px;
}
.menu h2, .menu h3 {
    margin-top: 1rem;
}
.menu h2 {
    border-radius:    var(--br-m);
    padding: 0 8px;
}
.menu h3 {
    text-decoration: underline;
}
.menu p {
    margin-bottom: 1rem;
}
.menu label {
    user-select: none;
}
.links {
    margin-top: 1rem;
}
.links svg {
    display: inline-block;
    vertical-align: middle;
}
.setting {
    padding: 20px 0 0 0;
}
.setting+h2 {
    margin-top: 30px;
}


/* ########################
   ##### Fancy Inputs #####
   ######################## */

input[type=checkbox]::after, 
input[type=checkbox]:hover::after,
input[type=range]::-webkit-slider-thumb {
    border-radius: var(--br-s);
}
.rangeValue {
    float: right;
    margin-left: 8px;
}
input[type=checkbox],
input[type=range], 
select {
    float: right;
}
input[type=checkbox] {
    cursor: default;
    appearance: none;
    background: transparent;
    border-style: none;
    flex-shrink: 0;
    height: 16px;
    position: relative;
    width: 30px;
    vertical-align: middle;
    transition-duration: 0s;
    border-radius: var(--br-m);
}
input[type=checkbox]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}
input[type=checkbox], input[type=checkbox]::after {
    transition: all 100ms ease-out;
}
input[type=checkbox]::after {
    content: "";
    height: 10px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 10px;
}
input[type=checkbox]:checked::after {
    left: 16px;
}
input[type=range], select {
    appearance: none;
    background: transparent;
    width: 50px;
    text-align: center;
    border-radius: var(--br-m);
}
.setting button {
    padding: 1px 6px 1px 0;
}
.setting button svg {
    display: inline-block;
    margin: 1px;
    height: 16px;
    vertical-align: bottom;
}
select {
    font-family: inherit;
    width: 150px;
    text-align: center;
    padding: 0 10px;
}
input:focus, select:focus, button:focus {
    outline-offset: 1px;
}
input[type=range] {
    height: 16px;
    width: 200px;
    padding: 2px;
    vertical-align: middle;
    cursor: default;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin: 0;
    cursor: default;
}
input[type=range]::-moz-range-thumb {
    appearance: none;
    height: 10px;
    width: 10px;
    margin: 0;
    cursor: default;
}
.rangeValue {
    height: 16px;
    padding: 1px 5px;
    border-radius: var(--br-m);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    width: 40px;
    text-align: center;
}
.rangeValue::after {
    content: "";
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    height: 6px;
    width: 6px;
    top: 5px;
    left: -6px;
}

/* #################
   ##### Modal #####
   ################# */

#modal-background {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: var(--br-win);
}
#modal {
    width: 600px;
    min-height: 200px;
    max-height: calc(100% - 104px);
    overflow: scroll;
    margin: 50px auto 0;
    border-radius: var(--br-m);
    font-weight: bold;
}
#modal::-webkit-scrollbar { background-color: transparent; }
#modal::-webkit-scrollbar { width: 5px; }
#modal::-webkit-scrollbar-thumb { 
    width: 5px; 
    border-radius: 0 var(--br-win) var(--br-win) 0; }
#modal::-webkit-scrollbar:horizontal { height: 0px; }
#modal::-webkit-scrollbar-corner { background-color: transparent !important; }
#modal-title {
    padding: 4px 24px;
    font-size: 10pt;
}
#modal-body {
    font-size: 10pt;
}
#modal-actions {
    margin: 0px 8px 8px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}
#modal button {
    padding: 2px 8px;
    display: inline;
}
#modal svg {
    display: inline-block;
}
#modal p {
    margin: 8px 24px;
}
#modal h3 {
    font-size: 10pt;
    margin: 16px 24px 0;
    border-radius: var(--br-m) var(--br-m) 0 0;
    padding: 2px 8px;
}
#modal ul {
    list-style-type: none;
    padding: 0;
    padding-inline-start: 0;
    margin: 0 24px 8px;
}
#modal li {
    padding: 4px 8px;
    border-top: none;
}
#modal li:last-child {
    border-radius: 0 0 var(--br-m) var(--br-m);
}
#modal .hidden {
    display: none;
}


/* #############################
   ##### Responsive Styles #####
   ############################# */

@media (min-width: 951px) {
    button.adaptive .text-full {    display: inline-block !important; }
    button.adaptive .text-short {   display: none !important; }
}
@media (max-width: 950px) {
    button.adaptive .text-full {    display: none !important; }
    button.adaptive .text-short {   display: inline-block !important; }
}
@media (max-width: 750px) {    
    button.adaptive .text-full {    display: none !important; }
    button.adaptive .text-short {   display: none !important; }
}
@media (max-width: 450px) {
    button.adaptive .text-full {    display: none !important; }
    button.adaptive .text-short, 
    .project-name {                 display: none !important; }
}
